<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/lib/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/lib/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/lib/font-awesome.min.css}">

</head>
<body class="login-page">
    <div class="container">
        <h2 class="sign-in-heading">Please sign in</h2>
        <form th:action="@{/sys/login}" name="form" role="form" action="/sys/login" method="post">
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
        </form>
    </div>
</body>

</html>